.usaf-btn {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 700;
  border-style: solid;
  border-width: 0.125rem;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  min-width: 4.625rem;
  padding: 0.3125rem 1.25rem;
  text-transform: uppercase; }
  .usaf-btn:hover {
    background-color: #0ebdf6;
    border-color: #0ebdf6; }
  .usaf-btn:active {
    background-color: #000000;
    border-color: #000000; }
  .usaf-btn[disabled] {
    background-color: #c5c8cb;
    border-color: #c5c8cb; }

.usaf-btn--primary {
  background: #283b91;
  border-color: #283b91;
  color: #ffffff; }

.usaf-btn--secondary {
  background: #aab7ee;
  border-color: #aab7ee;
  color: #ffffff; }

.usaf-btn--tertiary {
  background: transparent;
  border-color: #283b91;
  color: #283b91; }
  .usaf-btn--tertiary:hover {
    background: transparent;
    color: #0ebdf6; }
  .usaf-btn--tertiary:active {
    color: #000000; }
  .usaf-btn--tertiary[disabled] {
    background: transparent;
    color: #c5c8cb; }

.usaf-btn--icon {
  background-color: transparent;
  border: none;
  min-width: 0; }
  .usaf-btn--icon:hover, .usaf-btn--icon:active, .usaf-btn--icon[disabled] {
    background-color: transparent; }
  .usaf-btn--icon[disabled] {
    opacity: 0.75; }
