table {
    border-collapse: collapse;
}

thead th, thead td{
    border: 1px solid black;
}
tbody{border: 1px solid black;}

.m_h_modal-content{
  margin: 0 auto;
  max-width:1170px;
  min-height:141px;
  max-height:898px;
  background-color:#fff;
  border:1px solid;
  overflow:hidden;
}

.m_h_header{
  background: linear-gradient(to bottom, rgb(77,91,107) 0%, rgb(66,77,93) 35%, rgb(50,64,81) 70%, rgb(46,61,78) 99%);
  width:100%;
  margin-top:0px;
  height:89px;
  line-height: 30px;
  color:#fff;
  overflow:hidden;
}
.m_h_header-spacer{
  background-color:rgb(221, 221, 221);
  width:100%;
  margin:0;
  height:30px;
}

.m_h_nav{
  background: linear-gradient(to bottom, rgb(243, 243, 243) 0%, rgb(237, 237, 237) 35%, rgb(232, 232, 232) 70%, rgb(228, 228, 228) 99%);
  height:30px;
  width:100%;
  margin:0;
  padding:0px 0px 5px;
  line-height:30px;
  color:#000;
}


.m_h_menu-head{
  border:1px solid #000;
  color:#283b91;
  border-left:none;
  background-color:lightslategray;
  margin:5px 0;
  width:100%;
  height:25px;
  line-height:25px;
}

.m_h_menu-head:hover{
  color:black;
}

.m_h_menu-rightpad{
  padding-right:15px;
}

.m_h_highlight:hover{
  background-color:lightgray;
}

.m_h_menuCollapseButton{
  float:right;
  height:100%;
  width:20px;
  text-align:center;
  padding:0;
  margin:0;
  border-left:0;
}

.m_h_menuCollapseButton:active{
  outline:none;
}
.m_h_menuCollapseButton:focus{
  outline:none;
  border:none;
}

/* Buttons */
.m_h_menuCollapseButton{
  float:right;
  height:700px;
  width:20px;
  text-align:center;
  padding:0;
  margin:0;
}

.m_h_close-button{background:transparent;border:0;color:#fff;float:right;}
.m_h_close-button:hover{color:lightskyblue;border:0;}
.m_h_close-button:active{border:0;outline:none;}
.m_h_nav-btn{border:0;height:25px;line-height:25px;background: linear-gradient(to bottom, rgb(243, 243, 243) 0%, rgb(237, 237, 237) 35%, rgb(232, 232, 232) 70%, rgb(228, 228, 228) 99%);}
.m_h_nav-btn:hover{border:0;background:gray;}
.m_h_nav-btn:active{background:#000;color:#fff;border:0;outline:none;}
.m_h_nav-btn-active{background:#000;color:#fff;border:0;outline:none;}
.m_h_nav-btn-active:hover{background:#000;color:#fff;border:0;}
.m_h_holdNotifications-btn{line-height:20px;	border-radius: 4px; border: 1px solid #000;margin-right: 15px; width:50px;outline:none;height:20px;padding:0;}
.m_h_optionButton{margin-bottom:3px;margin-left:5px; color:blue;background:rgb(221, 221, 221);border:1px solid blue;height:25px; line-height: 25px;padding:0px 12px 0px 12px;}
.m_h_optionButton:active{outline:none;border:1px solid blue;height:25px;background:rgb(150,150,150);}

.right{float:right !important;}