.usaf-tooltip__trigger {
  display: 'inline-block'; }

.usaf-tooltip__popup {
  background-color: #f1f1f1;
  color: #000000;
  font-size: 0.75rem;
  max-width: 23.4375rem;
  padding: 1.25rem;
  margin: 0.3125rem;
  text-align: left;
  z-index: 25;
  box-shadow: 0.3125rem 0.3125rem 0 0 rgba(0, 0, 0, 0.2), 0.0625rem 0.0625rem 0.4375rem 0 rgba(0, 0, 0, 0.5); }
